<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="./js/cityList.js" charset="utf-8"></script>
	<script src="./js/myTool.js" charset="utf-8"></script>
	<script src="./js/jquery-3.3.1.js" charset="utf-8"></script>
	<link rel="stylesheet" href="./css/main.css">
</head>
<body>
	<div id="app">

		<ul>
			<li v-for="city in cities"  v-on:click="liClick" :id="city.id" :key="city.id">{{city.name}}</li>
		</ul>
		
		<h1>{{stateList}}</h1>


		<ul class="noactive" :class="{active:isNavOpen}">
			<transition-group name="fade" >
			<li v-for="link in nav" :id="link.id" :key="link.key">{{link}}</li>
			</transition-group>
		</ul>
		<button v-on:click="toggleNav">ADD A LINK</button>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
